*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 70vh;
}
#svg-image{
    margin-bottom: 10px;
    min-width: 75px;
    min-height: 70px;
    margin-top: 30px;
}
#company-title{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    min-width: 130px;
    min-height: 15px;
    margin-bottom: 20px;
    text-shadow: rgb(20, 16, 1) 1px 0 20px;
}
#palin-title{
    min-height: 15px;
    min-width: 145px;
    margin-bottom: 40px;
    font-style:oblique;
}
#main-frame{
    border: 1px solid;
    width: min(100vw,450px);
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background:linear-gradient(90deg,rgb(249, 130, 130),rgb(246, 137, 121),rgb(231, 215, 132),rgb(249, 130, 130));
    border-radius: 17px;
    box-shadow: 10px 10px rgb(146, 22, 22);

}
#main-frame label{
    margin-top: -30px;
    margin-bottom: 15px;
}
#main-frame strong:hover{
    color: ghostwhite;
}
#main-frame input{
    background-color: rgba(228, 57, 57, 0);
    min-height: 20px;
    border: none;
    border-bottom: 3px solid rgb(57, 0, 243);
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}
#main-frame input:focus{
    border-color: 2px solid rgb(57, 0, 243);
}
#main-frame button{
    position: relative;
    top: 10px;
    width: 80px;
    min-width: 70px;
    height: 25px;
    min-height: 20px;
    background: linear-gradient(90deg,rgb(70, 66, 66),black,rgb(54, 50, 50));
    color: ghostwhite;
    border-radius: 20px;
    font-family:cursive;
    box-shadow: -2px 4px rgb(118, 112, 137);
}
#main-frame button:hover{
    scale: 1.03;
}
#help{
    width: min(100vw,450px);
    position: relative;
    top: 30px;
    border: 1px solid;
    height: 150px;
    min-height: 140px;
    background: linear-gradient(90deg,rgb(136, 143, 203),rgb(122, 183, 252),rgb(118, 233, 210),rgb(136,143,203));
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px rgb(29, 29, 136);
}
#help svg{
    float: left;
    margin-bottom: 10px;
    min-height: 25px;
    min-width: 30px;
}
#help p{
    text-align: justify;
    font-size: large;
}
.hidden{
    display: none;
}
.output{
    position: relative;
    top: 18px;
    font-size: 16px;
    text-align: center;
}
.output strong{
    color: rgb(0, 0, 0);
}

#help svg:hover{
    animation-name: roto;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    
}

@keyframes roto{
    100%{transform: rotate(360deg);}
}
